.shows {
  display: flex;
  gap: 10px;
}

.show {
  padding: 0 1ch;
}

.shows a:not(:last-child) {
  border-right: 1px solid white;
  padding-right: 10px;
}

.shows a:hover,
.shows a.selected {
  cursor: pointer;
  text-decoration: underline;
}

.show-details {
  display: grid;
  gap: 1rem;
}

@media (width >= 500px) {
  .show-details {
    grid-template-columns: minmax(30ch, auto) 1fr;
  }
}

a {
  color: white;
}
